<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">

      <div class="row">

        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 text-body-secondary text-decoration-none" href="/" >

            <span class="fs-5">JinyDev</span>
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">지니와 함께 다양한 ICT 기술을 학습합니다.</li>
            <li class="mb-2">Code licensed MIT</li>
            <li class="mb-2">Currently v0.0.1</li>
          </ul>
        </div>

        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>FrontEnd</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://html.jiny.dev">HTML</a></li>
            <li class="mb-2"><a href="https://css.jiny.dev">CSS</a></li>
            
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Language</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://php.jiny.dev">PHP</a></li>
            <li class="mb-2"><a href="https://javascript.jiny.dev">Javascript</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>DevOps</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://linux.jiny.dev">Linux</a></li>
            <li class="mb-2"><a href="https://window.jiny.dev">Windows</a></li>
            <li class="mb-2"><a href="/">Mac</a></li>
          </ul>

          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://git.jiny.dev">Git</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Hardware</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://arduino.jiny.dev">Arduino</a></li>
          </ul>
        </div>
      </div>

    </div>
  </footer>